<!DOCTYPE html>
<html>
	<head>
		<title>Highway test</title>
		<link rel="stylesheet" type="text/css" href="./styles/main.css">
	</head>
	<body>
		<main data-router-wrapper>
            <div data-router-view="index">
                <h1 class="title">Page 1</h1>
                <div class="example">

                    <div class="presentation__img presentation__img--slider js-header-slider">
                        <ul class="presentation-slider js-slider-carousel">
                            <li class="slide js-slide"><img src="./assets/images/image.jpg" alt=""> </li>
                            <li class="slide js-slide"><img src="./assets/images/image.jpg" alt=""> </li>
                            <li class="slide js-slide"><img src="./assets/images/image.jpg" alt=""> </li>
                        </ul>
                        <div class="slider__controls">
                            <button class="arrow arrow--left prev-button js-prev-button" aria-label="Previous slide"><-</button>
                            <button class="arrow arrow--right next-button js-next-button" aria-label="Next slide">-></button>
                        </div>
                    </div>
                </div>

				<a href="./page2.html">to: PAGE 2</a>
            </div>

        </main>
		
		<script src="scripts/app.js"></script>
	</body>
</html>
