// @import font from typekit

$font-text: helvetica,arial,sans-serif;
$font-title: helvetica,arial,serif;
$font-sc: helvetica,arial,sans-serif;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$weight-xtrabold: 800;
